.about-me__portfolio {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.about-me__portfolio-header {
    margin: 0;
    padding: 100px 0 50px 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #A0A0A0;
    width: 250px;
    text-align: start;
}

.about-me__links-block {
    display: flex;
    justify-content: space-between;
}

.about-me__portfilio-line {
    border-bottom: 1px solid #E8E8E8;
    width: 100%;
    margin: 10px 0 20px 0;
    box-sizing: border-box;
}

.about-me__links {
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.5px;
    color: #000000;
    text-decoration: none;
    text-align: start;
}

.about-me__links:hover {
    opacity: 70%;
}

.about-me__links-img {
    background-image: url(../../images/linksImg.svg);
    width: 29px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 769px) {
  .about-me__portfolio-header {
    padding: 90px 0 50px 0;
  }
}

@media (max-width: 769px) {
  .about-me__links {
    font-size: 28px;
    line-height: 50px;
  }
}

@media (max-width: 481px) {
  .about-me__portfolio-header {
    padding: 70px 0 40px 0;
    font-size: 14px;
    line-height: 20px;
    width: 292px;
  }
}

@media (max-width: 481px) {
  .about-me__links {
    font-size: 18px;
    line-height: 28px;
    width: 250px;
    margin-bottom: 10px;
  }
}

@media (max-width: 481px) {
  .about-me__links-img {
    width: 18px;
    height: 28px;
    background-image: url('../../images/linksImg-small.svg');
  }
}

@media (max-width: 481px) {
  .about-me__portfilio-line {
    border-bottom: 1px solid #E8E8E8;
    width: 100%;
    margin: 10px 0 20px 0;
    box-sizing: border-box;
  }
}
