.about-project {
    min-height: 608px;
    background-color: #FAFAFA;
    width: 100%;
    display: flex;
    padding: 110px 70px 0;
    flex-direction: column;
    box-sizing: border-box;
}

.about-project__header {
    margin: 0;
    padding: 0 0 21px;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.63px;
    letter-spacing: -1px;
    color: #000000;
    text-align: start;
    border-bottom: 1px solid #000000;
    width: 100%;
}

.about-project__text-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
    column-gap: 38px;
    padding-top: 70px;
}

.about-project__header-block {
    grid-row: 1/2;
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    letter-spacing: -0.9px;
    color: #000000;
    text-align: start;
}

.about-project__text {
    grid-row: 2/3;
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    text-align: start;
}

.about-project__colour-block {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-top: 110px;
    row-gap: 15px;
}

.about-project__blue-block {
    width: 100%;
    height: 36px;
    background-color: #3456F3;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-project__grey-block {
    width: 100%;
    height: 36px;
    background-color: #F2F2F2;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-project__week-1 {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #FFFFFF;
    grid-row: 1/2;
    justify-self: center;
}

.about-project__week-4 {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #000000;
    grid-row: 1/2;
}

.about-project__web {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #A0A0A0;
}

@media (max-width: 769px) {
  .about-project {
    padding: 90px 50px 0;
    min-height: 585px;
  }
}

@media (max-width: 769px) {
  .about-project__header-block {
    text-align: start;
  }
}

@media (max-width: 769px) {
  .about-project__text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 769px) {
  .about-project__colour-block {
    padding-top: 90px;
  }
}

@media (max-width: 420px) {
  .about-project__blue-block {
    min-width: 140px;
  }
}

@media (max-width: 420px) {
  .about-project {
    padding: 73px 20px 0;
    min-height: 641px;
  }
}

@media (max-width: 657px) {
  .about-project__header {
    font-size: 18px;
    line-height: 21.78px;
  }
}

@media (max-width: 420px) {
  .about-project__header {
    padding: 0 0 25px;
  }
}

@media (max-width: 420px) {
  .about-project__text-block {
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    gap: 15px;
  }
}

@media (max-width: 420px) {
  .about-project__header-block {
    font-size: 18px;
    line-height: 21.78px;
  }
}

@media (max-width: 420px) {
  .about-project__text {
    font-size: 11px;
    line-height: 16px;
    padding-bottom: 40px;
  }
}

@media (max-width: 420px) {
  .about-project__colour-block {
    padding-top: 20px;
    row-gap: 10px;
  }
}


@media (max-width: 420px) {
  .about-project__week-1 {
    font-size: 11px;
    line-height: 13.31px;
  }
}


@media (max-width: 420px) {
  .about-project__week-4 {
    font-size: 11px;
    line-height: 13.31px;
  }
}


@media (max-width: 420px) {
  .about-project__web {
    font-size: 11px;
    line-height: 13.31px;
  }
}

@media (max-width: 420px) {
  .about-project__blue-block {
    min-width: 100px;
  }
}

