.about-me {
    min-height: 1079px;
    background-color: #FAFAFA;
    width: 100%;
    display: flex;
    padding: 110px 70px 0;
    flex-direction: column;
    box-sizing: border-box;
}

.about-me__header {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.63px;
    letter-spacing: -1px;
    color: #000000;
    width: 600px;
    text-align: start;
}

.about-me__line {
    border-bottom: 1px solid #000000;
    width: 100%;
    margin-top: 21px;
    box-sizing: border-box;
}

.about-me__info {
    display: flex;
    gap: 270px;
    padding-top: 65px;
}

.about-me__description {
    display: flex;
    flex-direction: column;
}

.about-me__name {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -1.5px;
    color: #000000;
    width: 600px;
    text-align: start;
}

.about-me__profession {
    margin: 0;
    padding: 20px 0 0 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
    width: 600px;
    text-align: start;
}

.about-me__bio {
    margin: 0;
    padding: 25px 0 0 0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
    width: 600px;
    text-align: start;
}

.about-me__git {
    padding: 100px 0 0 0;
    text-decoration: none;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    color: #000000;
    width: 46px;
    text-align: start;
}

.about-me__git:hover {
    opacity: 70%;
  }

.about-me__photo {
    width: 270px;
    height: 327px;
}

@media (max-width: 769px) {
  .about-me {
    min-height: 994px;
    padding: 90px 50px 0;
  }
}

@media (max-width: 1224px) {
  .about-me__info {
    gap: 60px;
  }
}

@media (max-width: 769px) {
  .about-me__info {
    gap: 50px;
  }
}

@media (min-width: 833px) and (max-width: 1027px) {
  .about-me__name {
    font-size: 40px;
    line-height: 40px;
    width: 400px;
  }
}

@media (min-width: 833px) and (max-width: 1027px) {
  .about-me__profession {
    padding: 18px 0 0 0;
    font-size: 12px;
    line-height: 18px;
    width: 400px;
  }
}

@media (min-width: 833px) and (max-width: 1027px) {
  .about-me__bio {
    padding: 20px 0 0 0;
    font-size: 12px;
    line-height: 18px;
    width: 400px;
  }
}

@media (max-width: 833px) {
  .about-me__name {
    font-size: 40px;
    line-height: 40px;
    width: 348px;
  }
}

@media (max-width: 833px) {
  .about-me__profession {
    padding: 18px 0 0 0;
    font-size: 12px;
    line-height: 18px;
    width: 348px;
  }
}

@media (max-width: 833px) {
  .about-me__bio {
    padding: 20px 0 0 0;
    font-size: 12px;
    line-height: 18px;
    width: 364px;
  }
}

@media (max-width: 833px) {
  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media (max-width: 833px) {
  .about-me__git {
    padding: 90px 0 0 0;
  }
}
