.nav {
    width: 100%;
    display: flex;
    gap: 40px;
    min-height: 66px;
    background-color: #F5F5F5;
    justify-content: center;
    align-items: center;
}

.nav__link {
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    color: #000000;
}